# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Testing
.pytest_cache/
.hypothesis/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# Database
*.db

# OS
.DS_Store
Thumbs.db
